<div id="<%= dom_id profile_skill %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Profile:</strong>
    <%= profile_skill.profile_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Skill:</strong>
    <%= profile_skill.skill_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Level:</strong>
    <%= profile_skill.level %>
  </div>
</div>
